.course{
    margin: 0px 200px;
}
.card-title{
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 10px;
    
}
.course-info{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.course-info span{
    margin: 0px 10px;
}