/* Course css */
.course{
    margin: 50px 100px;
}
.card-title{
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 10px;
    
}
.course-info{
    margin-top: 10px;
    display: flex;
}
.course-info span{
    margin: 0px 10px;
}
.course-info i{
    color: #f39c12;
}
.course-description{
    margin-top: 20px;
    padding: 0px 10px;
    text-align:justify ;
    color: rgb(136, 134, 134);
}

.course-btn{
    border: none;
    outline: none;
    padding: 10px 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 10px;
    border-radius: 5px;
    text-transform: uppercase; 
    text-decoration: none;
    background-color: #f39c12;
}