/* About css */
.about{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px 100px;
}
.about .image{
    margin: auto;
}
.about-left-part{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: justify;
    margin-bottom: 50px;
    margin-top: 50px;
}

.about-left-part  h1{
    font-size: 22px;
    color: #f39c12;
    margin-bottom: 10px;
}

.about-right-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    margin-bottom: 50px;
    margin-top: 50px;
}

.about-right-part h1{
    font-size: 22px;
    color: #f39c12;
    margin-bottom: 10px;
}

.about-bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 100px 200px;
}

.about-bottom-details{
    display: flex;
    flex-direction: column;
}
.about-bottom-details h1{
    font-size: 30px;
    margin-bottom: 15px;
}
.about-bottom-details h4{
    font-size: 18px;
    margin-bottom: 15px;
    color:#f39c12;
}

.about-bottom-details p{
    text-align: justify;
}

.bottom{
    margin-top: 30px;
}

.bottom-details{
    margin-bottom: 20px;
}

.bottom-details h1{
    color: #f39c12;
    
}
.bottom-details i{
   margin: 15px;
    
}

.about-counter{    
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #16a085;
}

.about-counter p{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

.about-counter h3{
    text-align: center;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}