.about{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px 100px;
}

.about-left-part{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: justify;
    margin-bottom: 50px;
    margin-top: 50px;
}

.about-left-part  h1{
    font-size: 22px;
    color: rgb(122, 122, 122);
    margin-bottom: 10px;
}

.about-right-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    margin-bottom: 50px;
    margin-top: 50px;
}

.about-right-part h1{
    font-size: 22px;
    color: rgb(122, 122, 122);
    margin-bottom: 10px;
}

.about-bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 100px 200px;
}

.about-bottom-details{
    display: flex;
    flex-direction: column;
}
.about-bottom-details h1{
    font-size: 30px;
    margin-bottom: 15px;
}
.about-bottom-details h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: rgb(122, 122, 122);
}

.about-bottom-details p{
    text-align: justify;
}

.bottom{
    margin-top: 30px;
}

.bottom-details{
    margin-bottom: 20px;
}

.bottom-details h1{
    color: rgb(93, 92, 92);
    
}
.bottom-details i{
   margin: 15px;
    
}